# Compiled Python files
__pycache__/

# Logs and runtime data
*.log
*.pot
*.pyc
*.pyo
*.orig
*.bak
*.swp
*~

# Virtual environments (if using virtualenv or venv)
venv/
env/

# IDE or editor specific files
.vscode/
.idea/

